* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 16px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

:root {
  --main-color: #1f2837;
  --second-color: #73dec6;
  --third-color: #2f4466;
  --call-color: #f15906;
  --white-color: #ffffff;
  --mont-alt: "Montserrat Alternates", sans-serif;
  --mont: "Montserrat", sans-serif;
}

section {
  min-height: 100vh;
}

.container {
  width: 90%;
  margin: auto;
  max-width: 81.25rem;
}

.about h2,
.skills h2,
.projects h2,
.contact h2 {
  font-family: var(--mont-alt);
  color: var(--second-color);
  text-align: center;
  font-weight: 800;
  text-shadow: -0.04rem 0.04rem 0.1rem #f15906;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

/******************************************* HEADER *******************************************/

header > .container {
  display: none;
}

.menu-mobile {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  display: none;
}

.menu-mobile_bars {
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
  z-index: 100;
}

.menu-btn {
  color: var(--white-color);
  background-color: var(--call-color);
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border: none;
  z-index: 100;
  cursor: pointer;
}

.menu-mobile_nav {
  position: absolute;
  z-index: 30;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, #fafffe, #dafff7);
  min-height: 30vh;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  display: flex;
  gap: 2rem;
  padding: 2rem 2rem;
  flex-wrap: wrap;
  transform: translate(101%, 101%);
  transition: transform 0.3s ease-in-out;
}

.menu-mobile_nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--mont);
  color: var(--call-color);
}

.menu-mobile_nav a i {
  font-size: 1.3rem;
}

.open-menu {
  transform: translate(0, 0);
}

/****************************************** HERO *******************************************/

.hero {
  background-color: var(--main-color);
  padding: 2rem 0;
}

.hero-text {
  width: 100%;
  max-width: 32rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-text h1,
.hero-text h2 {
  color: var(--second-color);
  font-family: var(--mont-alt);
  font-weight: 900;
}

.hero-text h1 {
  font-size: 2rem;
}

.hero-text h2 {
  font-size: 1.65rem;
}

.hero-text_buttons {
  margin: 2rem 0;
  font-family: var(--mont);
  font-size: 1rem;
}

.hero-text_buttons,
.social-media {
  display: flex;
  gap: 1rem;
}

.hero-text_buttons a {
  background-color: var(--call-color);
  padding: 0.7rem 0.5rem;
  color: var(--white-color);
  border-radius: 0.3rem;
  font-weight: 500;
}

a.btn-cv {
  background-color: transparent;
  border: thin solid var(--call-color);
  color: var(--white-color);
  padding: 0.7rem 0.5rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: 500;
}

.social-media a {
  color: var(--call-color);
  font-size: 2rem;
}

/****************************************** ABOUT *******************************************/

.about {
  background-color: var(--third-color);
  padding: 2rem 0;
}

.about-img {
  width: 14rem;
  max-width: 20rem;
  margin: auto;
}

.about p {
  margin-top: 2rem;
  color: var(--white-color);
  font-family: var(--mont);
  text-align: center;
}

/******************************************* SKILLS *******************************************/

.skills {
  background-color: var(--main-color);
  padding: 2rem 0;
}

.tech-skills_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.tech-skills_list li {
  border: thin solid var(--second-color);
  background-color: #ffffff22;
  border-radius: 0.3rem;
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0.3rem var(--call-color);
}

.tech-skill_img {
  width: 70%;
}

/******************************************* PROJECTS *******************************************/

.projects {
  background-color: var(--third-color);
  padding: 2rem 0;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.card-project {
  background: linear-gradient(
    223deg,
    rgba(93, 93, 179, 0.47) 65.25%,
    rgba(115, 222, 199, 0.288) 100%
  );
  font-family: var(--mont);
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0 0.7rem rgba(31, 40, 55, 0.359);
  max-width: 20rem;
}

.card-project_buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-project_text_buttons {
  padding: 1rem;
}

.card-project_text_buttons p {
  color: var(--white-color);
  padding-bottom: 1rem;
}

.deploy {
  background-color: var(--call-color);
  width: 6rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  border-radius: 0.3rem;
  height: 2.3rem;
}

.github {
  color: var(--call-color);
  font-size: 2.3rem;
}

/******************************************* CONTACT *******************************************/

.contact {
  background-color: var(--main-color);
  padding: 2rem 0;
}

.form {
  display: flex;
  flex-direction: column;
  font-family: var(--mont);
  margin-bottom: 1.5rem;
}

.form label {
  color: var(--second-color);
  margin-bottom: 0.3rem;
  font-weight: 600;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
  margin-bottom: 1.3rem;
  background-color: #ffffff03;
  border-radius: 0.3rem;
  border: none;
  font-size: 1.2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.2rem;
  padding-left: 0.5rem;
  color: var(--white-color);
  border-bottom: thin solid var(--second-color);
  outline: none;
}

.form textarea {
  font-family: var(--mont);
  resize: none;
  border: thin solid var(--second-color);
}

.form input[type="submit"] {
  width: 6rem;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: var(--white-color);
  background-color: #f15906;
  border: none;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.to-up {
  display: flex;
  justify-content: center;
}

.to-up a {
  color: var(--white-color);
  background-color: var(--call-color);
  padding: 1.3rem 0.8rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}

@media screen and (min-width: 47.5rem) {
  .menu-btn {
    height: 4.5rem;
    width: 4.5rem;
    font-size: 2.2rem;
  }

  .menu-mobile_nav {
    width: 100%;
    padding: 3rem 6rem;
    gap: 2.5rem;
  }

  .menu-mobile_nav a {
    font-size: 1.6rem;
    margin-right: 2rem;
  }

  .menu-mobile_nav a i {
    font-size: 2rem;
  }

  .about h2,
  .skills h2,
  .projects h2,
  .contact h2 {
    font-size: 2.5rem;
  }
  /***************************************** HERO *****************************************/
  .hero {
    padding-top: 3.5rem;
  }
  .hero > .container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero h1 {
    font-size: 3.3rem;
  }

  .hero h2 {
    font-size: 2.7rem;
  }

  .hero-text_buttons a {
    font-size: 1.4rem;
    padding: 1rem;
  }

  .btn-cv {
    font-size: 1.4rem;
    padding: 1rem;
  }

  .social-media a {
    font-size: 3rem;
  }

  /***************************************** ABOUT *****************************************/

  .about-img {
    width: 18rem;
  }

  .about p {
    font-size: 1.3rem;
  }

  /***************************************** SKILLS *****************************************/

  .tech-skills_list {
    gap: 2rem;
  }

  .tech-skills_list li {
    width: 7rem;
    height: 7rem;
  }

  /***************************************** CONTACT *****************************************/

  .form {
    max-width: 40rem;
    margin: auto;
  }

  .form label {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }

  .to-up a {
    padding: 1.6rem 1.1rem;
  }
}

@media screen and (min-width: 64rem) {
  .hero,
  .about,
  .skills,
  .projects,
  .contact {
    padding-top: 4.5rem;
  }

  .about h2,
  .skills h2,
  .projects h2,
  .contact h2 {
    font-size: 2.5rem;
  }

  .menu-mobile_bars,
  .menu-mobile_nav {
    display: none;
  }

  /***************************************** HEADER DESKTOP *****************************************/

  .header {
    position: sticky;
    top: 0;
    left: 0;
    height: 4rem;
    background-color: var(--main-color);
  }

  .header.sticky {
    background: rgba(33, 57, 104, 0.781);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }

  .header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--mont-alt);
    height: 100%;
  }

  .logo {
    color: var(--second-color);
    font-weight: 900;
    font-size: 2rem;
  }

  .logo:hover {
    color: var(--call-color);
  }

  .desk {
    display: flex;
    gap: 2rem;
  }

  .desk a {
    color: var(--second-color);
    font-weight: 800;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
  }

  .desk a:hover,
  .desk a.active {
    color: var(--call-color);
  }

  /***************************************** HERO *****************************************/
  .hero > .container {
    flex-direction: row;
  }

  .hero-text {
    align-items: start;
  }

  .hero-text_buttons {
    width: 100%;
    gap: 2rem;
  }

  .hero-text_buttons a,
  .btn-cv {
    padding: 1rem 2rem;
  }

  .social-media {
    width: 86%;
    justify-content: center;
    gap: 2rem;
  }

  /***************************************** ABOUT *******************************************/

  /***************************************** SKILLS *******************************************/

  .tech-skills_list {
    max-width: 30rem;
    margin: auto;
  }

  /***************************************** PROJECTS *******************************************/
}
